# Equal-Weight S&P 500 Index Fund

## Introduction & Library Imports

The S&P 500 is the world's most popular stock market index. The largest fund that is benchmarked to this index is the SPDR® S&P 500® ETF Trust. It has more than US$250 billion of assets under management.

The goal of this section of the course is to create a Python script that will accept the value of your portfolio and tell you how many shares of each S&P 500 constituent you should purchase to get an equal-weight version of the index fund.

## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [83]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math

## Importing Our List of Stocks

The next thing we need to do is import the constituents of the S&P 500.

These constituents change over time, so in an ideal world you would connect directly to the index provider (Standard & Poor's) and pull their real-time constituents on a regular basis.

Paying for access to the index provider's API is outside of the scope of this course. 

There's a static version of the S&P 500 constituents available here. [Click this link to download them now](https://drive.google.com/file/d/1ZJSpbY69DVckVZlO9cC6KkgfSufybcHN/view?usp=sharing). Move this file into the `starter-files` folder so it can be accessed by other files in that directory.

Now it's time to import these stocks to our Jupyter Notebook file.

In [4]:
stocks = pd.read_csv('sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

## Acquiring an API Token

Now it's time to import our IEX Cloud API token. This is the data provider that we will be using throughout this course.

API tokens (and other sensitive information) should be stored in a `secrets.py` file that doesn't get pushed to your local Git repository. We'll be using a sandbox API token in this course, which means that the data we'll use is randomly-generated and (more importantly) has no cost associated with it.

[Click here](http://nickmccullum.com/algorithmic-trading-python/secrets.py) to download your `secrets.py` file. Move the file into the same directory as this Jupyter Notebook before proceeding.

In [5]:
from secrets import IEX_CLOUD_API_TOKEN

## Making Our First API Call

Now it's time to structure our API calls to IEX cloud. 

We need the following information from the API:

* Market capitalization for each stock
* Price of each stock

In [18]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote/?token={IEX_CLOUD_API_TOKEN}'
data =  requests.get(api_url).json()
print(data)

{'symbol': 'AAPL', 'companyName': 'Apple Inc', 'primaryExchange': 'LMABRGTLSAKDA(SEEA/TOC Q LNNGE)S ', 'calculationPrice': 'close', 'open': 134.29, 'openTime': 1695675424057, 'openSource': 'ffiilcao', 'close': 135.8, 'closeTime': 1629804103402, 'closeSource': 'aofificl', 'high': 135.8, 'highTime': 1674866153794, 'highSource': 'niua ey15dem trcdie pel', 'low': 134.29, 'lowTime': 1639175814558, 'lowSource': 'atrI ilc pXeei reEm', 'latestPrice': 139.2, 'latestSource': 'Close', 'latestTime': 'June 23, 2021', 'latestUpdate': 1678631620383, 'latestVolume': 62370062, 'iexRealtimePrice': 139.76, 'iexRealtimeSize': 9, 'iexLastUpdated': 1647288794231, 'delayedPrice': 134.73, 'delayedPriceTime': 1663646397327, 'oddLotDelayedPrice': 135.2, 'oddLotDelayedPriceTime': 1650728832042, 'extendedPrice': 134.56, 'extendedChange': -0.03, 'extendedChangePercent': -0.00023, 'extendedPriceTime': 1696504075606, 'previousClose': 135.35, 'previousVolume': 78191125, 'change': -0.28, 'changePercent': -0.00209, 'volume': 61119934, 'iexMarketPercent': 0.019470084314999858, 'iexVolume': 1204529, 'avgTotalVolume': 78331213, 'iexBidPrice': 0, 'iexBidSize': 0, 'iexAskPrice': 0, 'iexAskSize': 0, 'iexOpen': 134.95, 'iexOpenTime': 1685272856000, 'iexClose': 134.1, 'iexCloseTime': 1667978403808, 'marketCap': 2329211726298, 'peRatio': 31.4, 'week52High': 146.17, 'week52Low': 87.73, 'ytdChange': 0.01120853618555568, 'lastTradeTime': 1627990921664, 'isUSMarketOpen': False}

## Parsing Our API Call

The API call that we executed in the last code block contains all of the information required to build our equal-weight S&P 500 strategy. 

With that said, the data isn't in a proper format yet. We need to parse it first.

In [20]:
price = data['latestPrice']
market_cap = data['marketCap']
# print(market_cap/1000000000000)

2.329211726298

## Adding Our Stocks Data to a Pandas DataFrame

The next thing we need to do is add our stock's price and market capitalization to a pandas DataFrame. Think of a DataFrame like the Python version of a spreadsheet. It stores tabular data.

In [24]:
my_columns = ['Ticker', 'Stock Price', 'Market Capitalization', 'Number of Shares to Buy']
final_dataframe = pd.DataFrame(columns = my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Capitalization, Number of Shares to Buy]
Index: []

In [28]:
final_dataframe.append(
    pd.Series(
    [
        symbol,
        price,
        market_cap,
        'N/A'
    ],
        index = my_columns
    ),
    ignore_index=True
)

  Ticker  Stock Price Market Capitalization Number of Shares to Buy
0   AAPL        139.2         2329211726298                     N/A

## Looping Through The Tickers in Our List of Stocks

Using the same logic that we outlined above, we can pull data for all S&P 500 stocks and store their data in the DataFrame using a `for` loop.

In [33]:
final_dataframe = pd.DataFrame(columns = my_columns)
for stock in stocks['Ticker']:
    api_url = f'https://sandbox.iexapis.com/stable/stock/{stock}/quote/?token={IEX_CLOUD_API_TOKEN}'
    data =  requests.get(api_url).json()
    final_dataframe = final_dataframe.append(
        pd.Series(
            [
                stock,
                data['latestPrice'],
                data['marketCap'],
                'N/A'
            ],
            index = my_columns
        ),
        ignore_index = True
    )

In [34]:
final_dataframe

    Ticker  Stock Price Market Capitalization Number of Shares to Buy
0        A       147.73           46471950683                     N/A
1      AAL        22.50           14495699330                     N/A
2      AAP       205.49           13381056875                     N/A
3     AAPL       135.30         2274694174969                     N/A
4     ABBV       116.00          201480866080                     N/A
..     ...          ...                   ...                     ...
500    YUM       120.33           35591105995                     N/A
501    ZBH       165.99           35917986915                     N/A
502   ZBRA       527.76           28253266001                     N/A
503   ZION        55.36            9122003475                     N/A
504    ZTS       194.06           89998726585                     N/A

[505 rows x 4 columns]

## Using Batch API Calls to Improve Performance

Batch API calls are one of the easiest ways to improve the performance of your code.

This is because HTTP requests are typically one of the slowest components of a script.

Also, API providers will often give you discounted rates for using batch API calls since they are easier for the API provider to respond to.

IEX Cloud limits their batch API calls to 100 tickers per request. Still, this reduces the number of API calls we'll make in this section from 500 to 5 - huge improvement! In this section, we'll split our list of stocks into groups of 100 and then make a batch API call for each group.

In [35]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [56]:
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
#     print(symbol_groups[i])
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])
final_dataframe = pd.DataFrame(columns = my_columns)
for symbol_string in symbol_strings:
    bathc_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(bathc_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
            pd.Series(
                [
                    symbol,
                    data[symbol]['quote']['latestPrice'],
                    data[symbol]['quote']['latestPrice'],
                    'N/A'
                ],
                index =  my_columns),
            ignore_index=True
        )
# print(data)
final_dataframe

    Ticker  Stock Price  Market Capitalization Number of Shares to Buy
0        A       149.59                 149.59                     N/A
1      AAL        23.20                  23.20                     N/A
2      AAP       203.54                 203.54                     N/A
3     AAPL       134.50                 134.50                     N/A
4     ABBV       118.00                 118.00                     N/A
..     ...          ...                    ...                     ...
500    YUM       117.00                 117.00                     N/A
501    ZBH       171.66                 171.66                     N/A
502   ZBRA       506.95                 506.95                     N/A
503   ZION        55.02                  55.02                     N/A
504    ZTS       187.28                 187.28                     N/A

[505 rows x 4 columns]

## Calculating the Number of Shares to Buy

As you can see in the DataFrame above, we stil haven't calculated the number of shares of each stock to buy.

We'll do that next.

In [70]:
portfolio_size = input('Enter the value of your porfolio:')

try:
    val = float(portfolio_size)
#     print(val)
except ValueError:
    print("That's not a number!\nPlease enter an integer")
    portfolio_size = input('Enter the value of your porfolio:')
    val = float(portfolio_size)

Enter the value of your porfolio:10000000

In [84]:
position_size = val/len(final_dataframe.index)
for i in range(0, len(final_dataframe.index)):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size/final_dataframe.loc[i, 'Stock Price'])
# number_of_apple_shares = position_size/500
# print(math.floor(number_of_apple_shares))
final_dataframe

    Ticker  Stock Price  Market Capitalization Number of Shares to Buy
0        A       149.59                 149.59                     132
1      AAL        23.20                  23.20                     853
2      AAP       203.54                 203.54                      97
3     AAPL       134.50                 134.50                     147
4     ABBV       118.00                 118.00                     167
..     ...          ...                    ...                     ...
500    YUM       117.00                 117.00                     169
501    ZBH       171.66                 171.66                     115
502   ZBRA       506.95                 506.95                      39
503   ZION        55.02                  55.02                     359
504    ZTS       187.28                 187.28                     105

[505 rows x 4 columns]

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

### Initializing our XlsxWriter Object

In [125]:
writer = pd.ExcelWriter('recommended_trades.xlsx', engine = 'xlsxwriter')
final_dataframe.to_excel(writer, 'Recommended Trades', index=False)

### Creating the Formats We'll Need For Our `.xlsx` File

Formats include colors, fonts, and also symbols like `%` and `$`. We'll need four main formats for our Excel document:
* String format for tickers
* \\$XX.XX format for stock prices
* \\$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

In [126]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_format = writer.book.add_format(
    {
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

dollar_format = writer.book.add_format(
    {
        'num_format': '$0.00',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

integer_format = writer.book.add_format(
    {
        'num_format': '0',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

### Applying the Formats to the Columns of Our `.xlsx` File

We can use the `set_column` method applied to the `writer.sheets['Recommended Trades']` object to apply formats to specific columns of our spreadsheets.

Here's an example:

```python
writer.sheets['Recommended Trades'].set_column('B:B', #This tells the method to apply the format to column B
                     18, #This tells the method to apply a column width of 18 pixels
                     string_template #This applies the format 'string_template' to the column
                    )
```

In [127]:
# writer.sheets['Recommended Trades'].set_column('A:A', 18, string_format)
# writer.sheets['Recommended Trades'].set_column('B:B', 18, string_format)
# writer.sheets['Recommended Trades'].set_column('C:C', 18, string_format)
# writer.sheets['Recommended Trades'].set_column('D:D', 18, string_format)

# writer.save()

writer.sheets['Recommended Trades'].write('A1', 'Ticker', string_format)
writer.sheets['Recommended Trades'].write('B1', 'Stock Price', dollar_format)
writer.sheets['Recommended Trades'].write('C1', 'Market Capitalization', dollar_format)
writer.sheets['Recommended Trades'].write('D1', 'Number of Shares to Buy', integer_format)

0

This code works, but it violates the software principle of "Don't Repeat Yourself". 

Let's simplify this by putting it in 2 loops:

In [128]:
column_formats = {
    'A':['Ticker', string_format],
    'B':['Stock Price', dollar_format],
    'C':['Market Capitalization', dollar_format],
    'D':['Number of Shares to Buy', integer_format] 
}

for column in column_formats.keys():
    writer.sheets['Recommended Trades'].set_column(f'{column}:{column}', 18, column_formats[column][1])
    writer.sheets['Recommended Trades'].write(F'{column}1', column_formats[column][0], column_formats[column][1])
writer.save()

## Saving Our Excel Output

Saving our Excel file is very easy:

In [ ]:
writer.save()